<section id="program" class="program">
    <h2>Programterv</h2>
    <div class="program-list">
      <div class="program-item">
        <h3>16:15</h3>
        <p>Pezsgős fogadás</p>
      </div>
      <div class="program-item">
        <h3>16:30</h3>
        <p>Gratuláció és ajándék átadás</p>
      </div>
      <div class="program-item">
        <h3>17:00</h3>
        <p>Fotózkodás</p>
      </div>
      <div class="program-item">
        <h3>18:00</h3>
        <p>Nyitótánc</p>
      </div>
      <div class="program-item">
        <h3>19:00</h3>
        <p>Svédasztalos vacsora</p>
      </div>
      <div class="program-item">
        <h3>21:00</h3>
        <p>Tortavágás</p>
      </div>
      <div class="program-item">
        <h3>22:00</h3>
        <p>Menyasszonytánc</p>
      </div>
      <div class="program-item">
        <h3>23:00</h3>
        <p>Mulatozás hajnalig</p>
      </div>
    </div>
  </section>