<div *ngIf="displayCountdown; else countdownComplete" class="countdown-container">
    <h2>Visszaszámlálás</h2>
    <div class="countdown-timer">
      <div class="time-box">
        <span>{{ timeLeft?.days }}</span>
        <p>Nap</p>
      </div>
      <div class="time-box">
        <span>{{ timeLeft?.hours }}</span>
        <p>Óra</p>
      </div>
      <div class="time-box">
        <span>{{ timeLeft?.minutes }}</span>
        <p>Perc</p>
      </div>
      <div class="time-box">
        <span>{{ timeLeft?.seconds }}</span>
        <p>Másodperc</p>
      </div>
    </div>
  </div>

  <ng-template #countdownComplete>
    <div class="countdown-container">
      <p>Köszönjük, hogy velünk ünnepelsz!</p>
    </div>
  </ng-template>