<header>
    <div class="logo">Adél és Zsombor</div>
    <nav>
      <ul class="nav-links">
        <li><a href="#features">Programterv</a></li>
        <li><a href="#about">Vendégkönyv</a></li>
        <li><a href="#contact">Játék</a></li>
      </ul>
    </nav>
  </header>
  
  <section class="hero">
    <div class="hero-content">
      <h1>Szeretettel üdvözlünk az esküvőnkön</h1>
      <p>Reméljük ti is annyira fogjátok élvezni mint mi</p>
      <app-photo-upload />
    </div>
  </section>
  
  <app-program />
  
  <footer>
    <p>&copy; 2024 Adél & Zsombor. All rights reserved.</p>
  </footer>
  